@model FormatModel
@{
    ViewData["Title"] = "Cadastrar Formato";
}

<div class="container mb-5">
    <h1>Cadastrar Formato</h1>
    <form asp-controller="Format" asp-action="Create" method="post">
        <input type="hidden" asp-for="CollectionId"/>
        <div class="row mb-3">
            <div class="form-group mb-2 w-50">
                <label asp-for="Name">Nome</label>
                <input class="form-control" asp-for="Name" placeholder="Nome">
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a asp-action="Index" asp-controller="Format" asp-route-collectionId="@Model.CollectionId" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </form>
</div>
