@model LoginRequest
@{
    ViewData["Title"] = "Login";
}

<div class="mt-5 text-center d-flex justify-content-lg-center">
    <form asp-controller="Home" asp-action="Login" method="post">
        <div class="form-group mb-2">
            <label asp-for="Username">Usuário</label>
            <input class="form-control" asp-for="Username" placeholder="Usuário">
            <span asp-validation-for="Username"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Password">Senha</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="Senha">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-check mb-2">
            <input type="checkbox" class="form-check-input" asp-for="Remember">
            <label class="form-check-label" asp-for="Remember">Manter Conectado</label>
        </div>
        <button type="submit" class="btn btn-primary">Logar</button>
        <a asp-controller="Home" asp-action="SignUp" class="btn">Cadastrar</a>
    </form>
</div>