@model ChangePasswordRequest

@{
    ViewData["Title"] = "Cadastro";
}

<div class="mt-5 text-center d-flex justify-content-lg-center">
    <form asp-controller="User" asp-action="ChangePassword" method="post">
        <div class="form-group mb-2">
            <label asp-for="OldPassword">Senha Atual</label>
            <input type="password" class="form-control" asp-for="OldPassword" placeholder="Senha Atual">
            <span asp-validation-for="OldPassword"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="NewPassword">Nova Senha</label>
            <input type="password" class="form-control" asp-for="NewPassword" placeholder="Nova Senha">
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="ConfirmPassword">Confirme a Senha</label>
            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirme a Senha">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a asp-controller="Home" asp-action="Login" class="btn">Voltar</a>
    </form>
</div>